/*vamos definir informações globais do projeto*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*o que eu colocar aqui vai refletir em todo projeto*/
:root {
  --brand-color: #ef5f4c;
  --shape-transparency: #ffffff90;
  --skeleton-color: #d9d9d9;
  --surface-color: #f5f5f5;
  --background-color: #ffffff;
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;
  --font-family: "Poppins", serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/1.5% var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/175% var(--font-family);
}

body {
  font: var(--tex);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

a {
  text-decoration: none; /*tirando o anderlaine*/
  color: inherit; /*o navegador colocou azul, eu tiro o azul e busco a cor do pai dele body*/
}
a:hover {
  /*quando eu passar o mause encima*/
  color: var(--brand-color);
  text-decoration: underline; /*colocando underline*/
}
.container {
  /*vai aplicar 32px na laterais do projeto, lado esquerdo e direito*/
  padding-inline: 32px; /*um elemento, so vale para laterais*/
  max-width: 1280px; /*largura maxima*/
  margin-inline: auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}
/**/
